PORT=8080
CORS_ORIGIN=*
ALCHEMY_API_KEY=
COINGECKO_API_KEY=
DEXSCREENER_BASE_URL=https://api.dexscreener.com
ALCHEMY_NETWORKS=eth-mainnet,polygon-mainnet,arb-mainnet,base-mainnet
MIN_WHALE_USD=100000
BITQUERY_API_KEY=
BITQUERY_GRAPHQL_URL=https://graphql.bitquery.io
